### Build & Dependencies ###
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
.mvn/

### Test & Report Outputs ###
test-output/
allure-results/
allure-report/
*.log
cucumber-reports/

### Test Data (Sensitive) ###
**/testdata/*-local.json
**/testdata/*-private.json
**/testdata/credentials*.json

### Environment Configs ###
**/config/config-local.properties
**/config/*-prod.properties

### Driver binaries ###
**/drivers/
*.exe
chromedriver
geckodriver
msedgedriver

### IDE & Editor ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/workspace.xml
.idea/usage.statistics.xml
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
*~
.c9/

### Language ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### System Files ###
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

### Archives ###
*.jar
*.zip
*.tar.gz

### Temporary Files ###
*.tmp
*.temp
*.cache
.allure/

### Maven ###
mvnw
mvnw.cmd


